 
 
 html, body {
  /* background-color: red; */
  margin: 0;

  

 
}


h1 {

  

}



div.conteiner {
  width: 100%;
  /* background-color: green; */
}

header {
   /* background-color: #B89E97; */
   background-color: var(--richBlack);
  width: 100vw;
  height: 15vh;
  margin: 0;
  display: flex;

  align-items: center;
  justify-content: space-between;
  color: white;

}

div#title_header {
 
  /* background-color: yellow; */
  margin: 0;
  display: block;
  margin: 15px;
}

div#header_icons {

  /* background-color: purple; */
  margin: 15px;
  font-size: 2.1em;
  display: flex;
}

div#title_header > h1 {
  width: 100%;
  margin: 0;
  font-family: 'Kanit';
  text-align: center;
  font-size: 1.2em;

}

main {
  display: flex;
  flex-direction: column;
}

nav {
  width: 100vw;
  height: auto;
  /* background-image: var(--gradient1); */
  /* background-image: linear-gradient(to bottom, var(--cor3) 45%, var(--cor4)); */
  /* background-color: var(--UCLAblue); */
  background-color: var(--richBlack);
  /* background-image: linear-gradient(to bottom, var(--celestialBlue), var(--celestialBlue2)); */
  display: flex;
  flex-direction: column;
  align-items: center;

}


div#box_1 {
  width: 45%;
  height: auto;
  display: flex;
  justify-content: center;
  margin: 10px 0px 0px 0px;
 
}

div#box_1 > img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 4px solid var(--chocolateCosmos);
}


nav > div#box_2 {
  width: 100%;
  display: flex;
  justify-content: center;
}

nav > div#box_2 > ul {
  list-style: none;
  padding: 0;
  width: 60%;
 
 
}

nav > div#box_2 > ul > li {
  display: flex;
  justify-content: center;
  margin: 5px auto 5px auto; 
 
  
}


ul#list_buttons > li > button {
  width: 70%;
  height: auto;
  padding: 5px;
  background-color: #FFFF;
  border: 2px solid var(--chocolateCosmos);
  color: var(--chocolateCosmos);
  font-size: 1.1em;
  font-family: 'Kanit';
  font-weight: 600;
  border-radius: 5px;
  

}


ul#list_buttons > li >  button:hover {
  background-color: var(--chocolateCosmos);
  color: #FFFF;
  transition: 0.2s ease;
  border-color: #FFFF;
  scale: 1;
  cursor: pointer;
}

section#content {
  width: 100vw;

  background-color: transparent;
}


footer {
  width: 100vw;
  height: 150px;
  background-color: blue;
  margin: 0;
}



@media screen and (min-width: 600px) {
  main {
    flex-direction: row;
  }

  nav {
    width: 25vw;
    height: 100vh;

  }


  nav > div#box_2 > ul {
    background-color: pink;
  }

  div#box_1 {
    width: 100%;
    height: auto;
    background-color: brown;
    display: flex;
    align-items: center;
    justify-content: center;

  }

  div#box_1 > img {
    width: 60%;
    max-height: auto;

  }

  section#content {
    width: 75vw;
    height: 100vh;
  }
}



@media screen and (min-width: 1000px) {
  nav {
    width: 20vw;
  }


  section#content {
    width: 80vw;
  }
  
}

