 
 
 html, body {
  /* background-color: red; */
  margin: 0;

  

 
}








div.conteiner {
  width: 100%;
  /* background-color: green; */
}

header {
   /* background-color: #B89E97; */
   background-color: var(--richBlack);
  width: 100vw;
  height: 15vh;
  margin: 0;
  display: flex;

  align-items: center;
  justify-content: space-between;
  color: white;

}

div#title_header {
 
  /* background-color: yellow; */
  margin: 0;
  display: block;
  margin: 15px;
  
}

div#header_icons {

  /* background-color: purple; */
  margin: 15px;
  font-size: 2.2em;
  display: flex;
  gap: 10px;
}

div#header_icons > a {
  color: white;
  transition: color 0.3s ease, transform 0.3s ease;
}

div#header_icons > a:hover {
  color: var(--chocolateCosmos2);
  transform: scale(1.1);

}

div#title_header > h1 {
  width: 100%;
  margin: 0;
  font-family: 'Kanit';
  text-align: center;
  font-size: 1.2em;
  transition: color 0.4s ease, transform 0.4s ease;
  text-wrap: nowrap;
  

}


div#title_header > h1:hover {
  transform: scale(1.05);
  color: var(--chocolateCosmos2);
}


p#title_dev:hover {
  color: var(--chocolateCosmos2);
  scale: 1.05;
  transition: 0.4s ease;
}

main {
  display: flex;
  flex-direction: column;
  height: auto;
  /* background-color: #a9714b; */
  
}

nav {
  width: 100vw;
  height: auto;
  /* background-image: var(--gradient1); */
  /* background-image: linear-gradient(to bottom, var(--cor3) 45%, var(--cor4)); */
  /* background-color: var(--UCLAblue); */
  background-color: var(--richBlack);
  /* background-image: linear-gradient(to bottom, var(--celestialBlue), var(--celestialBlue2)); */
  display: flex;
  flex-direction: column;
  align-items: center;

}


div#box_1 {
  width: 45%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 10px 0px 0px 0px;
 
}

div#box_1 > img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 4px solid var(--chocolateCosmos);
}


div#box_1 > img:hover {
  scale: 1.05;
  transition: 0.8s ease;
}

nav > div#box_2 {
  width: 100%;
  display: flex;
  justify-content: center;
}

nav > div#box_2 > ul {
  list-style: none;
  padding: 0;
  width: 60%;
 
 
}

nav > div#box_2 > ul > li {
  display: flex;
  justify-content: center;
  margin: 5px auto 5px auto; 
 
  
}



div#animated_title {
  width: 100%;
  animation: flashing-market 1.5s step-end infinite, typing 7s steps(22, end) infinite;
  overflow: hidden;
  border-right: 2px solid white;
}



p.teste {
  color: white;
  font-family: 'Kanit';
  font-weight: 600;
  font-size: 1.3em;
  width: 100%;
  margin: 0;
  text-align: center;
  margin: 1px 0px 0px 0px;
  text-wrap: nowrap;
}




@keyframes flashing-market {
  50% {
    border-right-color: transparent;
  }
}



@keyframes typing {
  0% {
    width: 0;
  
   
}

20% {
    width: 7.5ch;
 
}



50% {
  width: 14.0ch;
}



80% {
    width: 7.5ch;
   
}


100% {
    width: 0;
   
   
}

}



ul#list_buttons > li > button {
  width: 70%;
  height: auto;
  padding: 5px;
  background-color: #FFFF;
  border: 2px solid var(--chocolateCosmos);
  color: var(--chocolateCosmos);
  font-size: 1.1em;
  font-family: 'Kanit';
  font-weight: 600;
  border-radius: 5px;
  

}


ul#list_buttons > li >  button:hover {
  background-color: var(--chocolateCosmos);
  color: #FFFF;
  transition: 0.2s ease;
  border-color: #FFFF;
  scale: 1;
  cursor: pointer;
}

section#content {
  width: 100vw;
  height: auto;

  background-color: transparent;
}


footer {

  width: 100vw;
  height: 150px;
  /* background-color: blue; */
  background-color: var(--richBlack);
  margin: 0;
  transition: transform 6s ease-in;
    
  background-color: var(--richBlack);
  color: white;
  font-family: 'Kanit';
  font-weight: 800;
  display: flex;
  justify-content: center;
  align-items: center;

}


footer > p {
  margin: 0;
  transition: color 0.5s ease, transform 0.5s ease;
}


footer > p:hover {
  color: var(--chocolateCosmos2);
  transform: scale(1.05);
  transition: 0.9s ease;
}



@media screen and (min-width: 800px) {





  header {
    width: 25%;
    max-height: 15vh;
    flex-direction: column;
    position: fixed;
    /* border-bottom: 1px solid yellow; */
  }


  

  nav {
    width: 25%;
    min-height: 70vh;
    position: fixed;
    top: 15vh;
  

  }



  
footer {
  width: 25vw;
  max-height: 16vh;
  top: 84vh;

  position: fixed;

  margin: 0;
  
}




  main {
    flex-direction: row;
    height: auto;
  }




  nav > div#box_2 > ul {
    width: 100%;
    /* background-color: pink; */
  }

  div#box_1 {
    width: 100%;
    height: auto;
    /* background-color: brown; */
    display: flex;
    align-items: center;
    justify-content: center;

  }


  div#title_header {
    margin: 10px 0px 0px 0px;
  }

  div#title_header > h1 {
    font-size: 1.0em;

  }

  div#box_1 > img {
    width: 85%;
    max-height: auto;

  }

  section#content {
    width: 85vw;
    margin-left: 25vw;
   
  }




}




@media screen and (min-width: 1000px) {

header, nav, footer {
  width: 17vw;

}


section#content {
  margin-left: 17vw;
 
}
  
}



