


@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');


:root {



    --gradient1: linear-gradient(to bottom, #B89E97, #DECCCC);

    --UCLAblue: #2274A5;
    --pearl: #E7DFC6;
    --aliceBlue: #E9F1F7;
    --richBlack: #131B23;
    --cinereous: #816C61;

    --gradient1: linear-gradient(to bottom, var(--UCLAblue), var(--richBlack));


    --chocolateCosmos: #4C191B;
    --celestialBlue: #39A0ED;
    --celestialBlue2: #50a9ed;
    --chocolateCosmos2: #b7161b;;
    /* --chocolateCosmos2: #b7161b; */





}


