:root {

    --imgTeste: url('../imgs/imgs-projects/pexels-bri-schneiter-28802-346529.jpg');




}


h2.title_content {
    font-size: 2.1em;
    font-family: 'Kanit';
    font-weight: 600;
    text-align: center;
    
    color: var(--richBlack);
    margin: 50px 0px 50px 0px;
}

p.subtitle_content {
    width: 90%;
    font-size: 1.2em;
    font-family: 'Nunito';
    font-weight: 700;
  
    color: var(--chocolateCosmos2);
    margin: 0px 0px 10px 5px;
}


main.component {

    display: flex;
    flex-direction: column;
    height: auto;
    margin-bottom: 100px;
    transition: all 0.9s ease;
}


section.content_component {

    margin: 0;
    font-size: 0.9em;
    font-family: 'Nunito';
}





@media screen and (min-width: 800px) {



    div.conteiner {
        width: 80%;
        border-bottom: 3px solid var(--richBlack);
        margin-bottom: 90px;
        font-size: 1.9em;
        border-radius: 0px 0px 10px 10px;
        text-align: start;
       margin-left: auto;
       margin-right: auto;
       
    }


    h2.title_content {
        width: 60%;
        margin: 10px 0px 10px 0px;
    }




    section.content_component {
        width: 90%;
        margin: auto;
        margin-top: 40px;
       
    }



    main.component {
        margin: 0;
        margin-bottom: 100px;
    }








}